[class*="col-"] {
    background-color: #006CFA;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
    border: 1px solid white;
}


[class*="col-"]>.row>[class*="col-"] {
    background-color: #00E265;
    border: 1px solid #006CFA;

}

