.margin-top20 {
    margin-top: 20px;
}

[class*="col-"] {
    background-color: #006CFA;
    align-items: center;
    /* padding: 10px; */
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
    border: 1px solid white;
}

.alt {
    height: 80px;
    padding: 15px;
}

[class*="col-"]>.row>[class*="col-"] {
    background-color: #00E265;
    border: 1px solid #006CFA;
}

.center {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}