.margin-top20 {
    margin-top: 20px;
}

[class*="col-"] {
    background-color: #000000;
    align-items: center;
    /* padding: 10px; */
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: white;
}

.red {
    background-color: red;
}

